.suggestionsParent {
	width: 293px;
	font-size: 14px;
	margin-top: 25px;
}

.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.profile {
	display: flex;
	justify-content: space-between;
	align-items: center;
	max-height: 52px;
}

.headerText {
	font-size: 16px;
	color: rgba(85, 85, 85, 0.5);
}

.profileName {
	margin-left: 20px;
}

.profilePictureText {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100px;
	height: 100px;
}

.linkOut {
	color: #0095f6;
}

.offText {
	font-size: 14px;
}

.copyright {
	color: rgba(85, 85, 85, 0.5);
	font-size: 13px;
	text-transform: capitalize;
}
