.headerParent {
	position: fixed;
	top: 0;
	left: 0;
	border-bottom: solid 1px rgb(190, 190, 190);
	background-color: #fafafa;
	display: grid;
	justify-content: center;
	width: 100%;
	z-index: 3;
}

.headerBar {
	width: 946px;
	height: 52px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.logo {
	max-height: 29px;
}

.searchBox {
	width: 200px;
	height: 25px;
	background: #fafafa;
	border: 1px solid #dfdfdf;
	border-radius: 2px;
	color: rgba(0, 0, 0, 0.5);
	text-align: center;
	text-transform: capitalize;
}

.navItems {
	display: flex;
	align-items: center;
}

.navItems > *:nth-child(-n + 3) {
	padding-right: 24px;
}
